* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  /* background-color: rgb(0, 162, 255); */
  background-image: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;

  height: 100vh;
  
}

.Padding {
  padding: 20px;
}

.Margin {
  margin: 20px;
}

/* Margin */
.mg-10{
  margin: 10px;
}

h1 {
  font-size: 1em;
}
.btn-1 {
  padding: 0.3em 2em;
  margin: 0.5em;
  border: 1px solid whitesmoke;
  background-color: black;
  color: white;
  border-radius: 2em;
}

.btn-1:hover {
  color: black;
  cursor: pointer;
  background-color: whitesmoke;
  margin: 0;
}

.Counter {
  background-color: #8eb0bc;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReadInput {
  border: 1px solid black;
  padding: 0.5em 10em;
  background-color: #8eb0bc;
}

/* Button & Input Text rgb(29, 165, 228); #24a0ed */
input, textarea{
  border: 1px solid black;
  padding: 4px 10px;
  margin: 4px;
  transition: 0.5s;
  border-radius: 4px;

  background-color: rgb(49, 49, 49);
  color: #ccc;
  font-size: 13px;
}

input:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0 0 5px black;

}
textarea:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0 0 5px black;

}

button{
  border: 1px solid #24a0ed;
  padding: 2px 12px;
  margin: 4px;
  border-radius: 4px;
  background-color: #24a0ed;
  color: #ccc;
  text-align: center;
  transition: 0.5s;

  cursor: pointer;
}

button:focus{
  background-color: rgb(49, 49, 49);
  color: #ccc;
  
}

button:hover{
  border: 1px dotted black;
  transition: 0.5s;
}

img{
    width: inherit;
    height: 250px; /* height of container */
    object-fit: cover;
}